<div class="flex items-center justify-center min-h-screen">
	<div class="inline-block w-auto text-center">
		<div class="severance-bar w-full pb-0 mb-0"></div>
		<h1 class="main-title pt-0 text-6xl">
			<!-- <span style="font-size: 120%;">C</span>olin Tilleman -->
			Colin Tilleman
		</h1>
	</div>
</div>

<style>
	body {
		background-color: black;
		color: white;
		/* background-color: #004E6B; */
		/* color: #D0EAFD; */
	}

	.main-title {
		margin-right: 6rem;
	}

	.severance-bar {
		height: 4px;
		background-color: white;
	}

	h1 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}
</style>
