---
import Link from "./Link.astro";
---

<div>
	<div class="inline-block w-auto text-center mb-5">
		<div class="severance-bar w-full pb-0 mb-0"></div>
		<h1 class="main-title pt-1 text-6xl">Colin Tilleman</h1>
	</div>

	<h3 class="mt-5">Software Engineer</h3>
	<Link
		href="https://github.com/ctil"
		title="GitHub"
		description="Personal projects"
	/>
	<Link href="https://www.linkedin.com/in/colintilleman/" title="LinkedIn" />

	<h3 class="mt-5">Musician</h3>
	<Link
		href="https://open.spotify.com/artist/332RnBPhPJcMZdHI7ustr6"
		title="Spotify"
		description="Finished music"
	/>
	<Link
		href="https://soundcloud.com/colintilleman"
		title="SoundCloud"
		description="Jams and works in progress"
	/>

	<h3 class="mt-5">Improvisor</h3>
	<Link
		href="https://www.instagram.com/improvcabaretmusical/"
		title="Improv Cabaret"
		description="A musical improv show"
	/>
	<Link
		href="https://www.instagram.com/onthespot_improv/"
		title="On The Spot"
		description="A short form improv show"
	/>
</div>

<style>
	.main-title {
		margin-right: 6rem;
	}

	.severance-bar {
		height: 4px;
		background-color: white;
	}

	h1 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.1rem;
		border-bottom: 2px solid white;
		margin-bottom: 0.5rem;
	}
</style>
